* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    background: #E5E5E5;
}
body {
    max-width: 91.42rem;
    margin: 0 auto;
    background: #fff;
}

.title-fixed{
    display: flex;
    align-items: center;
    min-height: 100vh;
    position: fixed;
    padding-left: 2.28rem;
    max-width: fit-content;
}
.title {
    writing-mode: vertical-rl;
    -webkit-writing-mode: sideways-rl;
    -ms-writing-mode: sideways-rl;
    transform: rotate(180deg);
    line-height: 1.28rem;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
    z-index: 99;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 86.85rem;
    height: 2.28rem;
    padding-left: 2.28rem;
    padding-top: 1.71rem;
}
.nav-bar a {
    text-decoration: none;
}

.section-title {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.section-title img {
    width: 100%;
}
.principal-title {
    position: relative;
    width: 66.28rem;
    height: 22.28rem;
    left: 12.57rem;
    top: -39.28rem;
}
.principal-title h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 4.57rem;
    line-height: 5.57rem;
    text-align: center;
    text-transform: uppercase;
}

.fake {
    width: 100%;
}

.table-section{
    margin-top: -11.42rem;
    display: flex;
}
table {
    padding: 0 5.71rem;
}

tr :first-child {
    width: 6.28rem;
    height: 1.28rem;
    /* left: 0px;
    top: 0px; */
    font-size: 1rem;
    line-height: 1.28rem;
    opacity: 0.4;
    text-transform: uppercase;
    padding-bottom: 0.57rem;

}
tr :last-child {
    width: 18.28rem;
    height: 1.28rem;
    left: 6.85rem;
    font-size: 1rem;
    line-height: 1.28rem;
    text-transform: uppercase;
}
.table-section p {
    width: 32rem;
    height: 7.14rem;
    left: 33.14rem;
    top: 68rem;
    font-size: 1rem;
    line-height: 1.42rem;
}

.image-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 52.5rem;
    margin: 10rem auto 6.42rem auto;
    z-index: 1;
}

.image-section img {
    border-radius: 20px;
    /* margin-left: 3rem; */
    
}

.images-section {
    display: flex;
    margin-top: 4.78rem;
}

.paragraph {
    width: 25.14rem;
    height: 35.71rem;
    /* position: relative; */
    
   
}

.paragraph p {
    font-style: normal;
    font-weight: 500;
    font-size: 1.71rem;
    line-height: 2.28rem;
    text-transform: uppercase;
    padding: 9.14rem 7rem;
    margin-left: -15.57rem;
}

.image-position {
    /* margin-top: 120px; */
    margin-top: 8.57rem;
    flex: 1;
}

.descriptions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.descriptions > div:first-child{
    /* width: 735px; */
    width: 52.5rem;
    /* height: 709px; */
    height: 50.64rem;
    /* margin-left: 100px; */

}

.descriptions-description {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 640px; */
    width: 45.71rem;
    /* height: 224px; */
    height: 16rem;
    /* margin: 128px -300px 128px 0; */
    margin: 9.14rem -21.42rem 9.14rem 0;
}

.descriptions img {
    border-radius: 1.42rem;
    z-index: 1;
}

.descriptions-description p {
    font-style: normal;
    font-weight: 500;
    /* font-size: 24px; */
    font-size: 1.71rem;
    /* line-height: 32px; */
    line-height: 2.28rem;
    text-transform: uppercase;
   
}

.descriptions-image {
    /* width: 735px; */
    width: 52.5rem;
    /* height: 709px; */
    height: 50.64rem;
    border-radius: 20px;
}

.circle {
    /* width: 256px; */
    width: 18.28rem;
    /* height: 256px; */
    height: 18.28rem;
    background: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.circle:hover {
    background-image: url(./img/camille-couvez-H5PnIYI_1I0-unsplash_button.png);
}

.circle img {
    color:white;
    /* margin-bottom: 16px; */
    margin-bottom: 1.14rem;
    cursor: pointer;
}

.circle p {
    /* width: 192px; */
    width: 13.71rem;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    /* font-size: 24px; */
    font-size: 1.71rem;
    line-height: 32px;
    line-height: 2.28rem;
    text-transform: uppercase;
    color: #FFFFFF;
}

.container_buttons {
    display: flex;
    /* width: 735px; */
    width: 52.5rem;
    justify-content: space-between;
    /* margin: 259px auto; */
    margin: 18.5rem auto;
    align-items: center;
}

footer {
    display: flex;
    justify-content: center;
    /* padding-bottom: 99px; */
    padding-bottom: 7.07rem;
}

ul {
    display: flex;
}

li {
    padding: 0 32px;
    padding: 0 2.28rem;
    list-style-type: none;
    cursor: pointer;
    border-right: 1px solid rgba( 0,0,0,0.16);
}
li:last-child{
    border-right: none;
}

.circle-up {
    /* width: 24px; */
    width: 1.71rem;
    /* height: 24px; */
    height: 1.71rem;
    border-radius: 50%;   
    border: 1px solid rgba(0,0,0, 1);
}
.circle-up img {
    padding: 25%;
}

footer address {
    width:21.42rem;
}
footer a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-style: normal;
}


/* Responsivo para celular  */
@media (max-width: 480px) {
    html {
        font-size:0.8rem;
        min-width: 100vw;
    }
    .nav-bar{
        width: 100vw;
    }
    .section-title {
        grid-template-columns: 1fr;
    }
   .fake{ 
       display: none;
       width: 0%;
       border: 1px solid;
   }
   .principal-title {
        position: relative;
        width: 20.28rem;
        height: 22.28rem;
        left: 4.57rem;
        top: -29.28rem;
    }
    .principal-title h1 {
        font-weight: normal;
        font-size: 2rem;
        line-height: 3.57rem;
    }
    .table-section{
        margin-top: -11.42rem;
        flex-direction: column;  
    }
    .table-section p {
        width: 22rem;
        margin: 0 auto;
        text-align: center;
        padding-top: 2rem;
    }
    .image-section {
        display: flex;
        flex-direction: column;
        width: 22.5rem;
        justify-content: center;
        align-items: center;
        /* position: relative;
        z-index: 1; */
    }
    .image-section img {
        border-radius: 20px;
        width: 100%;
        margin-left: 0rem;
       
    }
    .images-section > div:first-child{
        width: 100%;
    }
    .paragraph {
        padding-left: 2rem;
        text-align: left;
    }
    .paragraph p {
        font-weight: normal;
        font-size: 1.71rem;
        padding: 7rem 1rem;
        margin-left: 0rem;
    }
  
    .container-image {
        max-width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .container-image > img {
        width: 350px;
        height: 350px;  
    }
    .descriptions > div:first-child{ 
        margin-left: 0px;
        height:30rem;
    }
    .descriptions-description {
        width: 25.71rem;
        padding-left: 2rem;
        text-align: right;
        height: 20rem;
        margin-right: 0rem;
        
    }
    .descriptions-description p {
        font-weight: normal;
    }
    .descriptions-image {
        width: 100vw;
        height: 30.64rem;
    }
    .descriptions-image img {
        width: 100%;
        border-radius: 0%;
    }

    .container_buttons {
        width: 100vw;
        justify-content: space-between;
        margin: 1.5rem auto;
        align-items: center;
        padding: 3.5rem;
    }
    .circle {
        width: 8.28rem;
        height: 8.28rem;
    }
    .circle p {
        width: 8.71rem;
        font-size: 1.2rem;
        line-height: 2rem;
    }
    .circle img {
        margin-bottom: 1rem;
        width: 2.14rem;
    }

    footer {
        flex-direction: column-reverse;
        align-items: center;
        background: lightgray;
        height: 80vh;
        padding-bottom: 0rem;
    }
    
    footer address {
        width:100vw;
        text-align: center;
        padding-top: 5rem;
    }
    ul{
        flex-direction: column;
    }
    li{
        border: none;
        padding: 1.5rem;
    }
    






  
}